//Colors
$color-primary: rgb(29, 185, 84);
$color-primary-light: #ee7b80;

$color-secondary-light: #5b83e2;
$color-secondary-dark: #70b7e6;

$color-tertiary-light: #e36807;
$color-tertiary-dark: #ec992a;

$color-grey-light-1: #c9c9c9;
$color-grey-light-2: rgb(24, 24, 24);
$color-grey-dark: rgb(4, 3, 6);
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
