.container {
	display: flex;
	@include respond(phone) {
		display: block;
	}
}
.sidebar {
	position: relative;
	background-color: $color-grey-dark;
	flex: 0 0 10rem;
	text-align: center;
	padding-top: 5rem;

	@include respond(phone) {
		position: absolute;
		bottom: 0;
		width: 100vw;
		height: 6rem;
		z-index: 100;
		padding-top: 0;
	}

	&__logo {
		width: 5rem;
		@include respond(phone) {
			display: none;
		}
	}
	&__link {
		width: 100%;
		height: 40vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 40rem;
		@include respond(phone) {
			height: 6rem;
			display: grid;
			grid-template-columns: auto auto auto auto auto;
		}

		&-container {
			display: block;
			padding: 1rem 0;
			border-left: 3px solid transparent;

			text-decoration: none;
			color: rgb(71, 71, 71);

			cursor: pointer;
			transition: all .4s;
			&:hover,
			&.active {
				background-color: rgba($color-grey-light-2, .9);
				color: white;
				border-left: 3px solid $color-primary;
			}
		}
		// &-container:not(:last-child) {
		// 	margin-bottom: 2rem;
		// }

		&-icon {
			display: block;
			font-size: 2.5rem;
			@include respond(phone) {
				font-size: 2rem;
			}
		}
		&-text {
			margin-top: 1rem;
			font-size: 1.2rem;
			display: block;
			@include respond(phone) {
				font-size: 1rem;
				margin-top: .8rem;
			}
		}
	}
}
.content {
	height: 100vh;
	overflow-y: auto;
	flex: 1;
}
