<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1><%= data.display_name %> </h1>
    <h3>Followers : <%= data.followers.total %> </h3>
    <img src="<%= data.images[0].url %>  " alt="">
</body>

</html>