<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>


<body>
    <%= user.display_name %>
    <% playlist.items.forEach(function(item) { %>
    <h1><%= item.name %> </h1>
    <img src=" <%= item.images[0].url %>  " alt="">
    <% }) %>
</body>

</html>