*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #181818; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-align: center;
  border-radius: 200px;
  text-transform: uppercase;
  font-weight: 600; }

.btn-primary:link, .btn-primary:visited {
  color: #fff;
  border: 2px solid #fff;
  transition: all .3s; }

.btn-primary:hover {
  background-color: #fff;
  color: #000; }

.large:link, .large:visited {
  padding: 1.4rem 4rem;
  font-size: 1.4rem; }

.small:link, .small:visited {
  padding: .8rem 2.5rem;
  font-size: 1.2rem; }

.nav {
  background-color: #000;
  width: 250px;
  height: 100vh;
  position: fixed;
  font-size: 1.5rem;
  padding-top: 3rem; }
  .nav__container {
    margin: 20px; }
  .nav__header__container {
    text-align: center;
    color: #fff; }
  .nav__header--icon {
    color: #1db954;
    font-size: 4rem; }
  .nav__header--title {
    vertical-align: top;
    height: 4rem;
    display: inline-block;
    font-size: 2.5rem; }
  .nav--searchbar {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    padding-left: 1rem;
    border-radius: 3px;
    outline: none;
    border: none; }
  .nav__list {
    margin: 3rem auto; }
    .nav__list__container {
      margin-left: 1.5rem;
      margin-bottom: 2rem;
      width: 100%;
      height: 40px;
      font-size: 1.8rem; }
    .nav__list a {
      text-decoration: none;
      color: #fff; }
    .nav__list i {
      margin-right: 10px;
      color: #1db954; }

.profile {
  padding: 10rem 10rem; }
  .profile__container {
    text-align: center;
    width: 100%; }
  .profile__image {
    display: inline-block;
    border-radius: 50%;
    width: 18rem; }
  .profile__name {
    color: white;
    font-size: 4rem; }
  .profile__info {
    width: 70%;
    margin: 1rem auto; }
    .profile__info-container {
      display: inline-block;
      margin: 0 2rem; }
    .profile__info-number {
      font-size: 2.5rem;
      font-weight: 600;
      color: #1db954; }
    .profile__info-title {
      font-size: 1.2rem;
      text-transform: uppercase; }
    .profile__info-logout {
      margin-top: 5rem; }

.top-stats {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  margin: 0 auto;
  grid-column-gap: 10rem; }
  .top-stats__heading {
    width: 100%;
    margin-bottom: 4rem; }
    .top-stats__heading h1 {
      font-size: 2rem;
      display: inline-block; }
    .top-stats__heading a {
      float: right; }
  .top-stats__li {
    margin-bottom: 2rem; }
  .top-stats__image {
    width: 5rem;
    border-radius: 200px;
    display: inline-block;
    margin-left: 1rem; }
  .top-stats__name {
    line-height: 5rem;
    vertical-align: top;
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 3rem;
    letter-spacing: .1rem; }
