*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.dark-mode{
	filter: invert(1) hue-rotate(180deg);
	img {
		filter: invert(1) hue-rotate(180deg);	
	}
}

html {
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25%; //1rem = 9px 9/16 = 56.25%
	}

	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px 9/16 = 50%
	}

	
}

body {
	box-sizing: border-box;
	background-color: $color-grey-light-2;
}
