.profile {
	padding: 10rem 10rem;
	@include respond(phone) {
		padding: 5rem 5rem;
	}
	@include respond(phone-small) {
		padding: 5rem 0;
	}
	&__container {
		text-align: center;
		width: 100%;
	}
	&__image {
		display: inline-block;
		border-radius: 50%;
		width: 18rem;
	}
	&__name {
		color: white;
		font-size: 4rem;
	}
	&__info {
		width: 70%;
		margin: 1rem auto;
		@include respond(phone) {
			width: 100%;
		}
		&-container {
			display: inline-block;
			margin: 0 2rem;
		}
		&-number {
			font-size: 2.5rem;
			font-weight: 600;
			color: $color-primary;
		}
		&-title {
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		&-logout {
			margin-top: 5rem;
		}
	}
}

.top-stats {
	width: 80%;
	max-width: 1240px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	margin: 0 auto;
	grid-column-gap: 10rem;
	@include respond(tab-port) {
		grid-column-gap: 5rem;
	}
	@include respond(phone) {
		grid-template-columns: 1fr;
	}
	&__heading {
		width: 100%;
		margin-bottom: 4rem;

		h1 {
			font-size: 1.8rem;
			display: inline-block;
		}
		button {
			float: right;
		}
	}
}
.track__li {
	margin-bottom: 2rem;
	color: $color-white;
}
.track__image {
	width: 5rem;
	border-radius: 200px;
	display: inline-block;
	margin-left: 1rem;

	&-track {
		width: 5rem;
		display: inline-block;
		margin-left: 1rem;
	}
}

.track__name {
	&-container {
		display: inline-block;
		box-sizing: border-box;
		transform: translateY(-.6rem);
		margin-left: 3rem;
		overflow: hidden;
	}
	&-track {
		display: block;
		font-size: 1.6rem;
		letter-spacing: .1rem;
	}
	&-artists {
		color: $color-grey-light-1;
		display: block;
	}
}
