.tracks-full {
	max-width: 124rem;
	margin: 0 auto;
	padding-top: 10rem;
	width: 80%;
	@include respond(phone) {
		padding-top: 5rem;
		width: 90%;
	}
}
.top-nav {
	color: $color-white;
	margin-bottom: 5rem;
	@include respond(phone) {
		margin-bottom: 4rem;
	}
	&__heading {
		font-size: 2.3rem;
		display: inline-block;
		@include respond(phone) {
			display: block;
			text-align: center;
		}
	}
	&__link {
		float: right;
		height: 100%;
		padding: 1rem 0;
		font-size: 1.6rem;
		border-bottom: 2px solid transparent;
		color: rgb(71, 71, 71);
		transition: all .3s;
		cursor: pointer;
		&-container {
			display: inline-block;
			float: right;
			padding-right: 2rem;

			@include respond(phone) {
				padding-right: 0;
				margin: 0 auto;
				float: none;
				width: 80vw;
				display: grid;
				grid-template-columns: auto auto auto;
			}
		}
		&:not(:last-child) {
			margin-left: 2rem;
		}
		@include respond(phone) {
			margin-left: 0;
		}
		&:hover {
			color: $color-white;
		}
		&.active {
			border-bottom: 2px solid $color-white;
			color: $color-white;
		}
	}
}
.main-track {
	@include respond(phone) {
		margin-top: 4rem;
		
	}
}
